.container-fluid {
    position: relative;
}

.container-fluid::after {
    filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-image: url("../../assets/SE214.K22.PMCL/Backgroud_Login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.content {
    height: 80%;
    width: 70%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    font-size: 16px !important;
}

.form-check-label {
    font-size: 16px;
}

input {
    font-size: 16px;
}

.form-check-label:hover,
.form-check-input:hover {
    cursor: pointer;
}

.form-check-input {
    width: 16px;
    height: 16px;
}

.btn-custom {
    height: 40px;
    min-width: 120px;
    border: none;
    border-radius: 5px;
    background-color: #6a79b3;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.btn-custom:hover {
    cursor: pointer;
    opacity: 0.7;
}

.btn-custom:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

input[type="text"],
input[type="password"] {
    border-bottom-color: #6a79b3;
    border-top-color: #6a79b3;
    border-right-color: #6a79b3;
    border-left: none !important;
}

.input-group-prepend {
    border-bottom: 1px solid #6a79b3;
    border-top: 1px solid #6a79b3;
    border-left: 1px solid #6a79b3;
    border-radius: 5px 5px 0 5px;
    overflow: hidden;
}
